* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Tahoma', sans-serif;
}
main {
    width: 720px;
    margin: 80px auto;
}
h1 {
    color: #A52023;
    font-size: 3rem;
    font-family: 'Garamond', serif;
}
p {
    margin: 1rem 0 2rem 0;
}
form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2rem;
}
form label {
    font-weight: bold;
}
form input, form select, form fieldset {
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem;
    border: 0;
    border-bottom: 1px solid #A52023;
    font-size: 1rem;
}
form fieldset label {
    margin-right: 1rem;
    font-weight: normal;
}
form input[type="submit"] {
    align-self: end;
    width: 25%;
    padding: 0.5rem;
    border: 3px solid #A52023;
    background-color: #A52023;
    color: white;
}
form input[type="submit"]:hover {
    color: #FFBD2E;
}
